# For CLI version, you need to set the GOOGLE_API_KEY environment variable. You can do this by creating a .env file in the root of your project and adding the following line:
GOOGLE_API_KEY="your_google_api_key_here"